:root {
    --backgroundColor: black;
    --fontColor: white;
}



html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
} 

body {
    font-family: 'Open Sans', sans-serif;
    background-color:#8c8c8c ;

}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
background: white;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
background-color: #8c8c8c;    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid #8c8c8c;  /* creates padding around scroll thumb */
}


header{
    -webkit-box-shadow: 0px 14px 22px -8px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 14px 22px -8px rgba(0,0,0,0.52);
    box-shadow: 0px 14px 22px -8px rgba(0,0,0,0.52);
    background-color: white;
}

a{
    color: black;
    font-weight:normal;
    text-decoration: none;
    font-size: 1.8rem;
}


.precio {
    color: #6dc2c2;
    font-size: 1.8rem;
}

p {
    font-size: 1.4rem;
    text-align: center;
}

.content {
    margin-top: 10rem;
    height: 20rem;
}


.volver {
    margin-top: 2rem;
    background-color: black;
    width: 15rem;
    height: 4rem;
}

.volver-a, .volver-a:hover {
    font-size: 1.8rem;
    color: white;
}

/* Modal */
.container-modal {
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}
  
button {
    cursor: pointer;
    border-radius: 0;
    border: none;
    background-color: white;
    color: black;
    padding: 20px 35px;
    margin: 30px 0 20px 0;
    font-size: 1.2rem;
    text-transform: uppercase;  
    font-weight: 700;  
}
  

  
dialog {
    max-width: 800px;
    padding: 40px 70px;
    border: 8px solid #321c3b;
    background-color: #FAFAFA;
}
  
dialog::backdrop {
    background: rgba(60, 60, 60, 0.9);
}
  
dialog p {
    color: #321c3b;
}
  
dialog button {
    box-shadow: 0px 0px 0 #321c3b;
}
  
  
/* Form */

.form2 {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../imagenes/sala2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.form2 select {
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

/* Modal Form */

.form1 {
    background-color: #D9D9D9;
}

.form1 label {
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
}
option {
    border: none;
}



.metros {
    background: #f0f0f0;
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}


.bg-content__form {
    padding: 0.5rem;
  
}

.metros {
    width: 55%;
}

/* Hovers */

.contacto:hover, .nosotros:hover, .propiedades:hover {
    text-decoration: underline;
    color:#8c8c8c;
}

/* Footer */

.img-footer {
    width: 20%;
}

